/*Loading Page*/
.forloading {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color:#0d161f;
    z-index: 999999999;
}
#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	width: 150px;
    height: 150px;	
}

.loader {
    width: calc(100% - 0px);
	height: calc(100% - 0px);
	border: 8px solid #162534;
	border-top: 8px solid #09f;
	border-radius: 50%;
	animation: rotate 5s linear infinite;
}

@keyframes rotate {
    100% {transform: rotate(360deg);}
    } 

/* Swip Up BUTTON */
.swipUp
{
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 333;
    display: none;
    height: 40px;
}

/* =============================================================================================== */
/* defaults */
.text-main{
    color: #141D38;
}
.text-main2{
    color: #7141b1;
}
.text-main3{
    color: #43BAFF;
}
.bg-main{
    background-color: #141D38;
}
.bg-main2{
    background-color: #7141b1;
}
.bg-main3{
    background-color: #43BAFF;
}
body{
    overflow: hidden;
}
.fontSize20{
    font-size: 20px;
}
.pointer{
    cursor: pointer;
}
#bodyOverlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 0;
    z-index: 100;
}
/* =============================================================================================== */
/* nav-bar */
header nav#Toggle-navbar ul li , header nav#Toggle-navbar .navbar-brand{
    padding: 30px 10px;
}

/*Sidenav*/
.aside-nav{
    display: block;
    color: #fff;
    padding: 30px 10px;
}

@media screen and (min-width: 1200px) {
    .aside-nav{
        display: none;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 8px -3px #555454;
    padding-top: 0px;
}

#mySidenav a:not(.closebtn) {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #4d4d4d;
    display: block;
    transition: 0.3s;
    margin: 5px auto;
    border-bottom: 1px solid #e7e7e7;
} 

#mySidenav a:not(.closebtn):hover{
    background-color: rgb(207, 207, 207);
}

.sidenav .closebtn {
    position: absolute;
    top: 20;
    left: -30px;
    font-size: 26px;
    margin-left: 50px;
    color: #4d4d4d;   
    text-decoration: none; 
}

@media screen and (max-width: 450px) {
    aside#mySidenav ul.navbar-nav li a {font-size: 18px !important;}
}

/* =============== */
/* info aside */
aside#contactInfo{
    background-color: #e7e7e7;
}

aside#contactInfo .icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

aside#contactInfo .icons a{
    background-color: #0A0E1C;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

aside#contactInfo .icons a:hover{
    transform: translateY(-40%);
}

aside#contactInfo .icons i.fa-twitter{color: #6FC7E7}
aside#contactInfo .icons i.fa-facebook-f{color: #224FDC}
aside#contactInfo .icons i.fa-linkedin-in{color: #5298EB}
aside#contactInfo .icons i.fa-instagram{color: #E8962E}

.active-link{
    border-bottom: 3px solid #43BAFF;
}

/* header section */
#header-section{
    background-image: url("../assets/bg-home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#header-section h1{
    font-size: 72px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 80px;
    font-family: "Montserrat",sans-serif;
}

#header-section p{
    font-family: "Nunito Sans",Sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: none;
}

#header-section .home-icons .col-auto{
    padding: 23px 30px 23px 30px;
    border: 1px solid rgba(255,255,255,.3);
    margin: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    width: 180px;
}

#header-section .home-icons .col-auto:hover{
    background-color: #141D38;
    border: #09f 1px solid;
}

#header-section .home-icons .col-auto i{
    color: #43BAFF;
}

/* media Query */
@media all and (max-width:1200px){
    #header-section h1{
        font-size: 60px;
        line-height: 70px;
    }
}
@media all and (max-width:992px){
    #header-section h1{
        font-size: 45px;
    }
    #header-section p{
        font-size: 18px;
    }
}
@media all and (max-width:767px){
    #header-section h1{
        font-size: 25px;
        line-height: 40px;
    }
    #header-section p{
        font-size: 15px;
    }
    #header-section .home-icons .col-auto{
        width: 100%;
    }
    #header-section .home-icons{
        margin: 5px;
    }
    #header-section > div {
        height: auto !important;
    }
}

@media all and (max-width:500px){
    header nav #navbarSupportedContent ul li , header nav .navbar-brand{
        padding: 30px 0px;
    }
}
/* =============================================================================================== */
/* 2nd section */
#section2{
    background-image: url("../assets/section2/bg-section2.png");
    background-repeat: no-repeat;
    background-position: center;
}
#section2 h2{
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 45px;
    font-family: "Montserrat",sans-serif;
}
#section2 .content .big-number{
    position: absolute;
    right: -7px;
    bottom: 0;
    font-size: 72px;
    font-weight: 700;
    font-family: "Montserrat",sans-serif;
    line-height: 52px;
    color: #f2f2f2;
}
#section2 .content{
    transition: all 0.5s ease-in-out;
}
#section2 .content:hover{
    border: 1px solid transparent !important;
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,.1);
}
/* media query */
@media all and (max-width:600px){
    #section2 .content .big-number{
        font-size: 24px;
        right: 0;
        bottom: -15;
    }
    #section2 h2{
        font-size: 20px;
    }
}
/* =============================================================================================== */
/* section 3 */
#section3{
    background-image: url("../assets/section3/bg-section3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#section3 .content span{
    font-size: 14px;
    font-weight: 800;
    color: #8E88B8;
    position: relative;
    display: inline-block;
    margin-bottom: 2px;
    text-transform: uppercase;
}

#section3 #counter span{
    color: #43BAFF;
    font-size: 36px;
    font-weight: 800;
    font-family: "Montserrat",sans-serif;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(16,120,165,.2);
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    overflow: hidden;
}

#section3 .col-lg-6:last-child .col-sm-6 .overlay > div.ribbon{
    width: 120px;
    height: 50px;
    background-color: #43BAFF;
    position: absolute;
    transform: rotate(45deg);
    top: -50px;
    right: -40px;
}

#section3 .col-lg-6:last-child .col-sm-6 .overlay h4{
    color: #fff;
    font-size: 30px;
}

#section3 .col-lg-6:last-child .col-sm-6 > div:hover .overlay{
    background:transparent;
}

/* media query */
@media all and (max-width:991px){
    #section3 .col-lg-6:last-child .col-sm-6{
        margin-top: 24px !important;
    }
}
@media all and (max-width:767px){
    #section3 .col-lg-6:first-child .content h2{
        font-size: 28px;
    }
    #section3 .col-lg-6:first-child .content span{
        font-size: 12px;
    }
    #section3 .col-lg-6:first-child .content p{
        font-size: 15px;
        margin: 20px 0px !important;
    }
}
@media all and (max-width:600px){
    #section3 .col-lg-6:first-child #counter span , #section3 .col-lg-6:first-child #counter h5{
        font-size: 20px !important;
    }
    #section3 .col-lg-6:first-child .content h2{
        font-size: 16px !important;
        padding-right: 40px;
    }
    #section3 .col-lg-6:first-child .content p{
        width: 80%;
    }   
}
/* =============================================================================================== */
/* section 4 */
#section4 .owl-carousel .item img{
    -webkit-filter: contrast(0%);
    filter: contrast(0%);
    opacity: .7;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    cursor: pointer;
}
#section4 .owl-carousel .item img:hover{
    -webkit-filter: contrast(100%);
    filter: contrast(100%);
    opacity: 1;
}
/* =============================================================================================== */
/* section 5 */
#section5{
    background-color: #F8F8F8;
}

#section5 .head h2{
    line-height: 48px;
    font-weight: 800;
    font-size: 36px;
}

#section5 .head span{
    font-size: 14px;
    font-weight: 700;
    color: #7141b1;
    position: relative;
    display: inline-block;
    margin-bottom: 2px;
    text-transform: uppercase;
}

#section5 .body .card-body h5{
    font-weight: 800;
    font-size: 22px;
    line-height: 36px;
    width: 250px;
}

#section5 .body .card-body P{
    line-height: 30px;
}

#section5 .body .card-body ul{
    margin-top: 10px;
    padding-left: 0;
    list-style: none;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

#section5 .body .card-body ul li{
    padding: 0 20px;
}

#section5 .body .card-body ul a{
    color: inherit;
    text-decoration: none;
    line-height: 40px;
    position: relative;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

#section5 .body .card-body ul li.active{
    background: #f8f8f8;
}
#section5 .body .card-body ul li.active a{
    color: #7141b1;
    padding-left: 15px;
    position: relative;
}
#section5 .body .card-body ul li.active a::before{
    content: "//";
    position: absolute;
    left: 0;
    opacity: 1;
    font-size: 15px;
    color: #7141b1;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

#section5 .body .card-body ul li a::before{
    content: "//";
    position: absolute;
    left: 0;
    opacity: 0;
    font-size: 15px;
    color: #7141b1;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

#section5 .body .card-body ul li:hover{
    background: #f8f8f8;
}

#section5 .body .card-body ul li:hover:not(.active) a{
    padding-left: 15px;
    color: #7141b1;
}

#section5 .body .card-body ul li:hover a::before{
    opacity: 1;
}

#section5 .body .card-body{
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    position: relative;
    overflow: hidden;
}

#section5 .body .card-body:hover {
    box-shadow: 15px 15px 38px 0 rgb(0 0 0 / 10%);
    -webkit-box-shadow: 15px 15px 38px 0 rgb(0 0 0 / 10%);
    -moz-box-shadow: 15px 15px 38px 0 rgba(0,0,0,.1);
    border-color: transparent;
}

#section5 .body .card-body .icon-main{
    position: absolute;
    top: -88px;
    right: -88px;
    width: 188px;
    height: 188px;
    color: #fff;
    background-color: #00deff;
    background-image: -moz-linear-gradient(125deg,#00deff,#502a71);
    background-image: -webkit-linear-gradient(
125deg
,#00deff,#502a71);
    background-image: linear-gradient(
125deg
,#00deff,#502a71);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

#section5 .body .card-body .icon-main i{
    position: absolute;
    bottom: 42px;
    left: 36px;
    font-size: 35px;
}
/* media querys */
@media all and (max-width:1199px){
    #section5 .body .card-body h5{
        width: 240px;
    }
}
@media all and (max-width:575px){
    #section5 .head h2{
        font-size: 26px;
        line-height: 30px;
    }
}
@media all and (max-width:500px){
    #section5 .body .card-body h5{
        width: 175px;
        font-size: 20px;
    }
}

@media all and (max-width:400px){
    #section5 .body .card-body ul li{
        font-size: 14px;
    }
}
/* =============================================================================================== */
/* section 6 */
#section6 .head h2{
    line-height: 48px;
    font-weight: 800;
    font-size: 36px;
}

#section6 .head span{
    font-size: 14px;
    font-weight: 700;
    color: #7141b1;
    position: relative;
    display: inline-block;
    margin-bottom: 2px;
    text-transform: uppercase;
}

#section6 .head p{
    line-height: 33px;
}

#section6 .body .team-info h4{
    font-size: 22px;
    font-weight: 800;
}

#section6 .body .team-info span {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #797979;
}

#section6 .body .teamMembers div{
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#section6 .body .teamMembers > div:hover{
    box-shadow: 0px 8px 25px rgba(0,0,0,.3);
}

#section6 .body .teamMembers .team-profile{
    position: relative;
    overflow: hidden;
}

#section6 .body .teamMembers .team-profile .team-contact{
    position: absolute;
    right: 0;
    top: 50%;
    padding: 3px 17px;
    background-color: #262051;
    transform: translate(100%,-50%);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

#section6 .body .teamMembers .team-profile .team-contact a{
    display: block;
    color: #9390a8;
    font-size: 14px;
    line-height: 1;
    margin: 20px 0;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
}

#section6 .body .teamMembers > div:hover .team-profile .team-contact{
    transform: translate(0%,-50%);
} 

#section6 .body .teamMembers .team-profile .team-contact a:hover{
    color: #43BAFF;
}
/* =============================================================================================== */
/* section 7 */
#section7{
    background-image: url("../assets/section7/bg-cta-home2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#section7 h2{
    font-size: 72px;
    font-weight: 900;
    line-height: 80px;
}

#section7 p{
    font-family: "Nunito Sans",Sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4em;
}

#section7 button{
    font-size: 14px;
    padding: 14px 30px 14px 30px;
    line-height: 1.42857143;
    display: inline-block;
    margin-bottom: 0;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 700;
    text-align: center;
    background: #43baff;
    cursor: pointer;
    border: 1px solid transparent;
    color: #fff;
    outline: none;

    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

#section7 button:hover{
    background: #7141b1;
}

/* media query */
@media all and (max-width:991px){
    #section7 h2{
        font-size: 50px;
    }
    #section7 p{
        font-size: 20px;
    }
}

@media all and (max-width:767px){
    #section7 h2{
        font-size: 40px;
        line-height: 40px;
    }
    #section7 p{
        font-size: 16px;
    }
    #section7 button{
        margin-top: 30px !important;
    }
}

@media all and (max-width:575px){
    #section7 h2{
        font-size: 30px;
        line-height: 30px;
    }
    #section7 p{
        font-size: 14px;
    }
    #section7 button{
        margin-top: 20px !important;
    }
}

/* =============================================================================================== */
/* section 8 */
#section8{
    background-image: url("../assets/section8/bg-maps-dots.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#section8 .head h2{
    line-height: 48px;
    font-size: 36px;
    font-family: "Montserrat",sans-serif;
    font-weight: 800;
    margin-top: 10px;
}

#section8 .head span{
    font-size: 14px;
    font-weight: 800;
    color: #7141b1;
    position: relative;
    display: inline-block;
    margin-bottom: 2px;
    text-transform: uppercase;
}

#section8 .body .card-body .title h6{
    font-size: 20px;
    margin-bottom: 8px;
    font-family: "Montserrat",sans-serif;
    font-weight: 800;
    line-height: 1.2;
    color: #1b1d21;
}

#section8 .body .card-body .title span{
    color: #9f9f9f;
}

#section8 .body .card-body .body-content{
    line-height: 1.875;
    text-align: left;
    font-size: 15px;
}

#section8 .body .card-body {
    background: #fff;
    padding: 40px;
    box-shadow: 3px 3px 8px 0 rgb(0 0 0 / 5%),
    -3px -3px 8px 0 rgb(0 0 0 / 5%);
}

#section8 .body .card{
    border: none !important;
}

#section8 .body .item{
    padding: 10px 0px;
    position: relative;
    margin-bottom: 50px;
}

#section8 .body .item .layer{
    background: #f8f8f8;
    position: absolute;
    left: 20px;
    bottom: -15px;
    width: calc(100% - 35px);
    height: 100%;
    z-index: -1;
    box-shadow: 3px 3px 13px 0 rgb(0 0 0 / 10%);
}

#section8 .owl-stage{
    position: relative;
}

#section8 .owl-nav button{
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -17px;
    background: none;
    color: #d3d3d3;
    border: none;
    outline: none;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    font-size: 30px;
}

#section8 .owl-nav button:hover{
    color: #43BAFF;
}

#section8 .owl-nav button.owl-prev{
    left: -6%;
}

#section8 .owl-nav button.owl-next{
    right: -6%;
}

/* media query */
@media all and (max-width:991px){
    #section8 .head h2{
        line-height: 48px;
        font-size: 30px;
    }
}

@media all and (max-width:767px){
    #section8 .head h2{
        line-height: 38px;
        font-size: 25px;
    }
    #section8 .head span{
        font-size: 12px;
    }
}

@media all and (max-width:400px){
    #section8 .head h2{
        line-height: 28px;
        font-size: 18px;
    }
    #section8 .head span{
        font-size: 11px;
    }

    #section8 .body .card-body{
        padding: 25px 10px 10px 10px;
    }

    #section8 .body .card-body img{
        width: 100px !important;
    }

    #section8 .body .col-3 {
        -ms-flex: 0 0 33% !important;
        flex: 0 0 33% !important;
        max-width: 33% !important;
    }
}

@media all and (max-width:1300px){
    #section8 .owl-nav button.owl-prev{
        left: -3%;
    }
    #section8 .owl-nav button.owl-next{
        right: -3%;
    }
}

@media all and (max-width:1199px){
    #section8 .owl-nav{
        display: none;
    }

    #section8 .owl-dots{
        display: block;
    }

    #section8 .owl-dots button{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #e7e7e7;
        margin: 0px 5px;
    }

    #section8 .owl-dots button.active{
        background-color: #7141b1;
        width: 12px;
        height: 12px;
    }
}

/* =============================================================================================== */
/* footer */

footer{
    background-color: #162534;
}

footer .footer-body h6{
    font-family: "Nunito Sans",sans-serif;
    font-weight: 400;
    text-transform: none;
    color: #AEAACB
}

footer .footer-body p{
    font-size: 18px;
    font-weight: 500;

}

footer .footer-body i{
    font-size: 35px;
    color: #43BAFF;
    margin-bottom: 20;
}

footer .footer ul li a{
    color: inherit;
    text-decoration: none;
}

footer .footer ul li{
    margin: 15px 30px;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 500;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

footer .footer ul li:hover{
    color: #43BAFF
}

footer .footer p{
    color: #AEAACB
}

footer .footer .contact-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

footer .footer .contact-icons a{
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

footer .footer .contact-icons a:hover{
    transform: translateY(-40%);
}


footer .footer .contact-icons i.fa-twitter{color: #6FC7E7}
footer .footer .contact-icons i.fa-facebook-f{color: #224FDC}
footer .footer .contact-icons i.fa-linkedin-in{color: #5298EB}
footer .footer .contact-icons i.fa-instagram{color: #E8962E}

/* media query */
@media all and (max-width:991px){
    footer .footer-body p{
        font-size: 15px;
    }
}
/* ======================================================================================================== */
/* search */
.overlay-search { 
    z-index: 100;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.5s linear;
   }
    
.overlay-search.open {
     top: 0; 
    }

.overlay-search .form_search-wrap { 
    position: absolute;
    top: 50%;
    transform: translate(0, -50%); 
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    min-width: 0;
    opacity: 1;
    transition: all 1s ease-in-out;
    width: 80%;
    left: 0; 
    right: 0;
    margin: 0 auto; 
  }

.overlay-search .form_search-wrap form .search-input { 
    background-color: transparent;
    padding: 0 30px 25px 0;
    border: none;
    border-bottom: 2px solid #c1c1c1;
    color: #c1c1c1;
    font-size: 24px;
    transition: all 1s ease;
    margin-bottom: 30px;
    width: 100%;
    outline: none;
}

.overlay-search .form_search-wrap form .search-input:focus { 
    border-bottom: 2px solid #43BAFF; 
    color: #fff;
 }

.overlay-search .form_search-wrap form .search-close { 
    width: 30px;
     height: 30px; 
    position: absolute;
     display: block; 
     right: -5px;
      top: 0;
     }

.overlay-search .form_search-wrap form .search-close span { 
    display: block; 
    height: 2px;
    background: #c1c1c1; 
    border-radius: 3px;
    margin: auto;
    width: 100%; transition: all .3s ease; 
    top: 50%; 
    position: absolute;
 }

.overlay-search .form_search-wrap form .search-close:hover span { 
    background: #43BAFF;
 }

.overlay-search .form_search-wrap form .search-close span:first-of-type {
    transform: rotate(-45deg); 
}

.overlay-search .form_search-wrap form .search-close span:last-of-type {
    transform: rotate(45deg); 
}

.overlay-search .form_search-wrap form .search-input:focus + .search-close span { 
    background: #43BAFF; 
}
